@import '../styles/mixins.scss';

.input-wrapper {
  margin-bottom: 20px;
  text-align: left;

  .label {
    margin-bottom: 8px;
    font-size: 20px;
  }

  input {
    padding: 16px;
    outline: none;
    width: 100%;
    border: none;
    @include boxShadow;
  }

  .error {
    color: red;
    border-radius: 6px;
    margin-top: 5px;
  }
}